/* breadcrumbs */
header .breadcrumbs {
    display: none;
    padding: 0 32px;
    width: 100%;
    height: var(--breadcrumbs-height);
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    font-size: var(--breadcrumbs-font-size);
}

header .breadcrumbs ol {
    display: flex;
    flex-flow: wrap;
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    gap: 1ch;
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li {
    padding-inline-start: 0;
    opacity: 0.7;
}

header .breadcrumbs ol li:not(:last-child)::after {
    content: "/";
    padding-left: 1ch;
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li a:any-link {
    color: var(--text-color);
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li:last-of-type {
    opacity: 1;
}

@media screen and (width >= 900px) {
    header .breadcrumbs {
        display: block;
    }
}
