@media (width >= 45em) {
    .siteHead {
        background-size: auto 5em;
        background-repeat: no-repeat;
        background-position: right top
    }
}

.siteHead {
    background-color: #232222
}

.siteHead_inner {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center
}

.siteHead_inner h1 {
    flex: 0 0 auto
}

.siteHead_fixbar {
    max-width: 58.75em;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: -95em;
    z-index: 10000;
    width: 100%
}

.siteHead_fixbarlist {

    display: inline-block;
    position: absolute
}

.siteHead_fixbarlistitem {
    display: inline-block;
    margin-left: .2em;
    vertical-align: top;
    position: relative;
    text-transform: uppercase;
    border-bottom-left-radius: .625em;
    border-bottom-right-radius: .625em
}

.siteHead_fixbarlistitem.support {
    color: #fefefe;
    background-color: #000;
    vertical-align: top;
    padding: .6em .75em .55em;
    cursor: pointer;
    max-width: 7.313em
}

.siteHead_fixbarlistitem.support i {
    font-size: 1.478em;
    vertical-align: middle;
    top: -2px;
    position: relative
}

.siteHead_linklist {
    display: inline-block;
    position: absolute;
    top: 0;
    color: #fefefe;
    right: 11.5em;
}

.siteHead_headercontainer {
    display: flex;
    flex: 0 1 70%;
    padding: .5em 0;
    flex-wrap: wrap;
    align-items: flex-end
}

.siteHead_headercontainer h1, .siteHead_headercontainer span {
    flex: 0 1 auto
}

.siteHead_headercontainer h1 {
    padding-top: 0
}

.siteHead_headercontainer span::before {
    content: "- ";
    position: relative;
    top: -2px
}

.siteHead_linklist_mobile {
    list-style: none;
    padding: 0;
    display: flex
}

.siteHead_location {
    color: #fefefe;
    text-transform: uppercase;
    font-size: 1.25em;
}

.siteHead_userprofilelink {
    display: inline-block;
    font-size: 1.25rem;
}

.siteHead_userprofilelink:hover span {
    text-decoration: underline;
}

.siteHead_userprofilelink p {
    color: #fefefe;
    display: inline-block;
    cursor: pointer
}

.siteHead_logoutlink {
    color: #fefefe;
    font-size: 1.25em;
    display: inline-block;
    padding-top: .375em;
    padding-left: .25em;
    width: 2em;
    text-align: center
}

.siteHead_logoutlink:hover {
    color: #1251b5
}

.siteHead_logoutlink_mobile {
    color: #fefefe;
    font-size: 1.25em;
    display: inline-block
}

.siteHead_logoutlink_mobile:hover {
    color: #1251b5
}

.siteHead_logoutlink i::before {
    position: relative;
    top: 1px
}

.siteHead_supportlink {
    display: inline-block;
    height: 2.5em
}

.siteHead_supportlink:hover .siteHead_fixbarlistitem.support {
    transition: background-color ease .1s;
    background-color: #1251b5
}

.siteHead_supportlink_mobile::before {
    vertical-align: middle;
    margin-left: -.2em
}

.siteHead_searchlink {
    height: 2em;
    display: inline-block;
    padding: .375em .75em .25em;
    border-bottom-left-radius: .625em;
    border-bottom-right-radius: .625em;
    color: #fefefe;
    background-color: #1251b5
}

.siteHead_searchlink_mobile {
    color: #1251b5
}

.siteHead_searchlink i {
    font-size: 1.5em
}

.siteHead_hamburger {
    display: none
}

.siteHead_hamburger i {
    color: #fefefe;
    font-size: 1.7em;
    vertical-align: baseline
}

.siteHead_userprofilebuttoncontainer {
    position: relative;
    padding: 0 .625em
}

.siteHead_userprofilebuttoncontainer-is-active .siteHead_logoutlink {
    color: #fefefe
}

.siteHead_userprofilebuttoncontainer-is-active .siteHead_userprofilelink i, .siteHead_userprofilebuttoncontainer-is-active .siteHead_userprofilelink p {
    color: #474747
}

.siteHead_editProfileContainer {
    color: #474747;
    background-color: #eaedf0;
    box-shadow: 1px 1px 2px gray;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    line-height: 1.25em;
    position: absolute;
    z-index: 10;
    top: 0
}

.siteHead_editProfileContainer p {
    padding-top: 1.25em;
    max-width: 14rem
}

.siteHead_editProfileContainer span {
    max-width: 14rem
}

.siteHead_editProfileContainer .ui-lightbox-flexcontainer {
    padding-bottom: 0
}

.siteHead_editProfileContainer .btn-box {
    text-align: right;
    padding: .5rem 1.875rem 1.875rem 0;
    background-color: #eaedf0
}

.siteHead_editProfileContainer .btn-box button {
    border: none;
    padding: .5em;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #1251b5
}

@media (width <= 45em) {
    .siteHead_editProfileContainer .ui-lightbox-flexcontainer {
        flex-direction: column
    }
}

.siteHead_supportviewcontainer {
    color: #474747;
    background-color: #eaedf0;
    box-shadow: 1px 1px 2px gray;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    position: absolute;
    top: 0;
    z-index: 10
}

.siteHead_supportviewcontainer .ui-lightbox-flexitem p {
    padding-bottom: 1.25rem
}

.siteHead_supportviewcontainer .ui-lightbox-closeButton i {
    font-size: 2em
}

.siteHead a, .siteHead i {
    text-decoration: none
}

@media (width >= 45em) {
    .siteHead_headercontainer h1 {
        padding-bottom: 0
    }

    .siteHead_logoutlink {
        display: inline-block
    }
}

@media (width >= 45.01em) {
    .siteHead_inner {
        height: 5em
    }

    .siteHead_logoutlink_mobile, .siteHead_searchlink_mobile {
        display: none
    }
}

@media (width <= 62.5em) {
    .siteHead_fixbarlistitem.support {
        display: none
    }

    .siteHead_supportlink::before {
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        content: "ï™";
        font-size: 1.438em;
        vertical-align: top;
        margin-top: .435em;
        line-height: 1.6em;
        visibility: visible;
        padding: 1em .601em .55em .6em;
        border-bottom-left-radius: .625em;
        border-bottom-right-radius: .625em;
        margin-right: 0;
        top: 0;
        cursor: pointer;
        color: #fefefe;
        background-color: #4d4e4c;
        background-color: rgb(27 28 26 / 80%)
    }
}

@media (width <= 53.5625em) {
    .siteHead_fixbarlistitem {
        margin-left: 0
    }

    .siteHead_userprofilelink {
        width: 2em
    }

    .siteHead_userprofilelink p {
        display: none
    }

    .siteHead_userprofilebuttoncontainer {
        padding: 0 .3em 0 .5em
    }
}

@media (width <= 45em) {
    .siteHead {
        background-image: none;
        height: 3em;
        position: relative
    }

    .siteHead_headercontainer {
        flex: 0 1 100%
    }

    .siteHead_headercontainer h1 {
        font-size: 1em;
        color: #9d9e9c;
        padding-bottom: 0;
        font-weight: 600
    }

    .siteHead_headercontainer span {
        font-size: .75em;
        color: #b6b8b8;
        line-height: 1.25
    }

    .siteHead_linklist_mobile li {
        display: flex;
        align-items: center;
        width: 2.5em;
        margin: 0;
        padding: 0;
        justify-content: center
    }

    .siteHead_linklist_mobile li:first-child {
        height: 3.2em;
        width: 2em;
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        content: "ï‹µ";
        position: relative
    }

    .siteHead_linklist_mobile li:last-child {
        width: 2em;
        height: 3.2em
    }

    .siteHead_logoutlink {
        display: block
    }

    .siteHead_logoutlink_mobile {
        padding: .7em
    }

    .siteHead_searchlink_mobile {
        width: 100%;
        height: 3.2em;
        text-align: center
    }

    .siteHead_searchlink_mobile i {
        top: 17px;
        position: relative;
        font-size: 1.1em
    }

    .siteHead_inner.ui-pagewidthlimit {
        height: 3em;
        position: relative
    }

    .siteHead_userprofilelink {
        padding-top: 0
    }

    .siteHead_fixbar, .siteHead_linklist {
        display: none
    }

    .siteHead_hamburger {
        display: inline;
        position: relative;
        flex: 0 0 auto;
        vertical-align: sub
    }

    .siteHead_hamburger i {
        font-size: 1.1em
    }
}

.ui-flexcolumncontainer {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative
}

.siteHead_headercontainer h1 {
    font-size: 1.25em
}

.siteHead_headercontainer span {
    font-size: 1em
}

@media (width <= 550px) {
    .siteHead_headercontainer h1 {
        font-size: .8em
    }

    .siteHead_headercontainer span {
        font-size: .7em
    }
}

.backGroud-pic picture {
    position: absolute;
    inset: 0;
    object-fit: cover;
    box-sizing: border-box;
    text-align: right;
}


[dir="ltr"] .siteHead_linklist {
    right: 11.5em;
}

[dir="ltr"] .siteHead_fixbarlist {
    right: 0
}

[dir="ltr"] .siteHead_fixbarlistitem.support i {
    left: -1px
}

[dir="ltr"] .siteHead_supportviewcontainer {
    right: 0
}

[dir="ltr"] .siteHead_editProfileContainer {
    right: 4px
}

[dir="ltr"] .siteHead_editProfileContainer .ui-lightbox-flexitem button {
    right: 30px
}

@media (width >= 53.5625em) {
    [dir="ltr"] .siteHead_logoutlink i::before {
        left: .5em
    }
}

.editProfile.fal, .editProfile.far, .editProfile.fas, .editProfile.fa {
    font-size: 1.2em;
    top: 0;
    position: relative;
    cursor: pointer
}

.editProfile_countryLanguage {
    display: flex;
    flex-wrap: wrap
}

.editProfile_countryLanguage div {
    flex-wrap: wrap;
    flex: 1 0 100%
}

.editProfile_countryLanguage select {
    display: flex
}

.editProfile_countryLanguage ul {
    padding-bottom: 0
}

.editProfile_countryLanguage ul:first-child {
    padding-right: 1.875rem
}

[dir="ltr"] .editProfile.fal, [dir="ltr"] .editProfile.far, [dir="ltr"] .editProfile.fas, .editProfile.fa {
    left: -3px;
}

.siteHead_logoutlink {
    color: #fefefe;
    font-size: 1.25em;
    display: inline-block;
    padding-top: .375em;
    padding-left: .25em;
    width: 2em;
    text-align: center
}


.siteHead_logoutlink_mobile {
    color: #fefefe;
    font-size: 1.25em;
    display: inline-block
}

.siteHead_logoutlink_mobile:hover {
    color: #1251b5
}

.siteHead_logoutlink i::before {
    position: relative;
    top: 1px
}

.siteHead_fixbarlistitem.support {
    color: #fefefe;
    background-color: #000;
    vertical-align: top;
    padding: .6em .75em .55em;
    cursor: pointer;
    max-width: 7.313em
}

.siteHead_fixbarlistitem.support i {
    font-size: 1.478em;
    vertical-align: middle;
    top: -2px;
    position: relative
}

[dir="ltr"] .siteHead_linklist {
    right: 11.5em
}

[dir="ltr"] .siteHead_fixbarlist {
    right: 0;
}

[dir="ltr"] .siteHead_fixbarlistitem.support i {
    left: -1px;
}

[dir="ltr"] .siteHead_supportviewcontainer {
    right: 0
}

[dir="ltr"] .siteHead_editProfileContainer {
    right: 4px
}

[dir="ltr"] .siteHead_editProfileContainer .ui-lightbox-flexitem button {
    right: 30px
}

@media (width >= 53.5625em) {
    [dir="ltr"] .siteHead_logoutlink i::before {
        left: .5em
    }
}

[dir="ltr"] .editProfile.fal, [dir="ltr"] .editProfile.far, [dir="ltr"] .editProfile.fas {
    left: -3px
}
